/* Fonts 

redonda = Comic Relief
cuadrada = 

*/

.bar {
    display: flex;
    background-color: #001a2c;
    color: #ffffff;
    margin: 0px;
    min-height: 40px;
    align-items: center;
    justify-content: center;
}

.bar h3 {
    margin: 0px;
    font-size: 17px;
    font-family: "Comic Relief", "Monospace";
}

.bg-master {
    background-color: #00111c;
}

.rec-blue {
    background-color: #001a2c;
    color: #ffffff;
    border-radius: 50px;
}

.bg-title {
    color: #002945;
}

/* Card */
.card-css {
    margin: 1rem 2rem;
    width: 21rem;
    border: none;
    border-radius: 20px;
    background-color: #001a2c;
}

.card-text {
    font-size: 12px;
    text-align: justify;
    color: #ffffff;
    line-height: 1.8;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 20px;
}

.list-group-item {
    background-color: #001a2c;
}
