/* Fonts 

redonda = Itim
cuadrada = Michroma

*/

.bar {
    display: flex;
    background-color: #001a2c;
    color: #ffffff;
    margin: 0px;
    min-height: 40px;
    align-items: center;
    justify-content: center;
}

.bar h3 {
    margin: 0px;
    font-size: 20px;
    font-family: "Itim", cursive;
}

.bg-master {
    background-color: #00111c;
}

.rec-blue {
    background-color: #001a2c;
    color: #ffffff;
    border-radius: 50px;
}

.bg-title {
    color: #002945;
}

/* Card */
.card-css {
    margin: 0.5rem 0px;
    width: 21rem;
    border: none;
    border-radius: 20px;
    background-color: #001a2c;
}

.card-text {
    font-family: "Itim";
    font-size: 13px;
    font-weight: 200;
    text-align: justify;
    color: #ffffff;
    line-height: 1.8;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 20px;
}

.list-group-item {
    background-color: #001a2c;
    font-family: "Itim";
}

/* Grid */
.title-blue {
    color: #002945;
    font-family: "Michroma";
    margin-top: 1rem;
}

.knowledge-card {
    background-color: #001a2c;
    border-radius: 10px;
    padding: 15px 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    color: white;
}

.progress-bar-sim {
    background-color: #00111c;
    border-radius: 5px;
    width: 120px;
    height: 10px;
    position: relative;
}

.progress-bar-sim::after {
    content: "";
    display: block;
    background: #002e4e;
    width: 80%;
    height: 100%;
    border-radius: 5px;
}

.mini-logo {
    height: 50px;
    padding: 0;
    margin-right: 5;
}
